"*":
  "autocomplete-plus":
    autoActivationDelay: 300
    confirmCompletion: "tab always, enter when suggestion explicitly selected"
  "bracket-matcher":
    autocompleteBrackets: false
    autocompleteSmartQuotes: false
    highlightMatchingLineNumber: true
    wrapSelectionsInBrackets: false
  core:
    telemetryConsent: "no"
    themes: [
      "seti-ui"
      "seti-syntax"
    ]
  editor:
    fontFamily: "hasklig, Menlo, Consolas, DejaVu Sans Mono, monospace"
    fontSize: 16
    preferredLineLength: 81
    scrollPastEnd: true
    tabLength: 2
    tabType: "soft"
  "exception-reporting":
    userId: "0f061ee1-9d55-4acb-a826-7573eded5360"
  "linter-eslint":
    autofix:
      fixOnSave: true
    scopes: [
      "source.js"
      "source.jsx"
      "source.js.jsx"
      "source.flow"
      "source.babel"
      "source.js-semantic"
      "source.ts"
    ]
  "linter-ui-default":
    showPanel: true
  "markdown-pdf": {}
  "seti-ui":
    compactView: true
    hideDocumentTitle: true
    hideProjectTab: true
  welcome:
    showOnStartup: false
